<!DOCTYPE html>
<html>
    <head>
        <title>Sundae Shop</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <a href='/'><h1><span class="neonText">Sun</span><span class="flickerText">d</span><span class="neonText">ae Shop</span></h1>
        <h2><span class="neonText">Eat</span><span class="flickerText">.</span></h2></a>

        <div id="message">
            <%- message %>
        </div>

        <div id="cartButton">
            <a href="/" class="button">Return Home</a>
        </div>
            
    </body>
</html>